# IDE specific
.idea/
.vscode/

# Dataset specific
*.csv
*.xlsx
!sample*.csv


# Cache files
*.pyc

# Byte compiled
__pycache__/
.pytest_cache/


# Password files
*-creds.json
secret_keys

# Model files
*.bin
sa_app/config_files/tokenizer/
sa_app/config_files/model/

# Package related files
dist/
*.egg-info/
*.whl
*.tag.gz
